/* This courses.css contains all styles under the category Courses on the web page */

.listContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 23vh;
  margin-right: 3vh;
}

/* Respective course titles box */
.course {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  display: block;
  flex-wrap: wrap;
  margin: 0.5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.course > h2 {
  margin: 0px;
}

.course > div:first-of-type {
  font-size: 2rem;
}

.course > div {
  width: 100%;
  margin-bottom: 10px;
}

.course > div:first-child {
  width: 100%;
}

.course > div:first-child > h3 {
  color: grey;
}

.course > h4 {
  margin: 0;
}

/* A box for teachers */
.staff {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.staff > h3 {
  width: 100%;
}

/* A box for Course Ressponsible */
.resp {
  display: none;
}

.resp > div > span {
  background-color: pink;
}

/* Teachers and Course Ressponsible design together */
.staff > div > div > span,
.resp > div > span {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 8px;
}

/* A box for all the Students */
.students {
  flex-direction: column;
  display: none;
}

/* Design for the Students */
.list {
  display: flex;
  flex-wrap: wrap;
}

/* Box for each individual student */
.student {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid grey;
}

/* A button that makes content visible when you press it */
.collapse {
  width: 100%;
  font-size: 25px;
  padding: 10px;
}
