@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  z-index: -2;
}

.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20vh;
  z-index: 100;
  background-color: rgb(85, 83, 83);
}

.icon {
  width: 20vh;
  color: white;
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 8vh;
  margin-left: 4vh;
}

input {
  height: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}
